{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Type</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Time</th>
        </tr>
        </tr>
        </thead>
        <tbody>
        {% for i in data%}
            <tr>
                <td>{{ i.symbol }}</td>
                <td>{{ i.type }}</td>
                <td>{{ i.shares }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
